* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

.loader {
    display: grid;
    place-items: center;
    height: 100vh;
    margin:auto;
}

.loader img {
    width: 50%;
    margin-top: -200px;
}

.nav-container {
    z-index: 10;
    width: 100%;
    padding: 8px;
    height: 58;
    background-color: black;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav-bar {
    width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Branding */
.branding {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-family: montserrat, sans-serif;
}

.branding .name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    letter-spacing: 1.5px;
}

.branding .name .code {
    font-weight: 700;
}

.branding .name .bustler {
    color: rgba(211, 211, 211, 0.788);
}

.branding .name .projects {
    display: none;

}


/* SOCIAL LINKS */
.social-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.social-links ul li img {
    width: 65%;
}


.social-links ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
}



.title {
    z-index: 10;
    font-family: montserrat, sans-serif;
    font-size: medium;
    color: lightgray;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px;
    width: 100%;
    height: 40px;
    background-color: #464646;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 66px;
    margin-bottom: 8px;
}


.title .my-project img {
    width: 20%;
}

.title p {
    text-align: center;
}

.social-links2 {
    display: none;
}

.m-projects {
    display: none;
}

.social-links ul li img {
    padding: 5px;
}

.social-links ul li img:hover {

    outline: 2px solid #f1c40f;
}


/* Navbar Media Query */

@media only screen and (max-width:600px) {

    .loader img {
    width: 90%;
    margin-top: -200px;
}

    .branding .name {
        font-size: x-large;
    }

    .social-links {
        display: none;
    }

    .title,
    .nav-bar {
        justify-content: center;
    }

    .social-links2 {
        display: block;
    }

    .social-links2 ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .social-links2 ul li img {
        width: 50%;
    }


    .social-links2 ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title p {
        display: none;
    }

    .logo {
        display: none;
    }

    .title {
        margin-bottom: 0;
    }


    .m-projects {
        background-color: #131313;
        color: #fff;
        padding: 10px;
        display: block;
        font-family: montserrat, sans-serif;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 8px;
    }

    .branding .name {
        align-items: flex-end;
    }

    .branding .name .projects {
        display: inline-block;
        font-size: large;
        font-weight: 600;
        font-style: italic;
        color: #464646;
        padding-left: 8px;
    }

}

@media only screen and (max-width:380px) {}

/* **** Completed Navbar **** */


/* ------ Project Card Style ------ */